
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;

}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: #d7e9f3d0;
}
.logo
{
  font-size: 2em;
  color:#1c3b55;
  user-select: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navigation a
{
position: relative;
font-size: 1.1em;
color:#1c3b55;
text-decoration: none;
font-weight: 500;
margin-left: 40px;
}
.navigation a::after
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background:#fff;
  border-radius: 5px;

  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after
{
  transform-origin: left;
transform: scaleX(1);
}
.navigation .btnlogin-popup
{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #1c3b55;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color:#1c3b55;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}
.navigation .btnlogin-popup:hover
{
  background:#fff;
  color: #fff;
}
.container
{
  height: 80vh;
  width: 50%;
  background-position: center;
  background-size: cover;
  position: relative;

 
}
.form-box
{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  border:2px solid #1c3b55;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  padding: 50px 60px 70px;
  text-align: center;
}
.form-box2
{
  width: 70%;
  height: 650px;
  max-height: 750px;
  max-width: 900px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  border:2px solid #1c3b55;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  padding: 50px 60px 70px;
  text-align: center;
}
.form-box2 h1
{
  font-size: 30px;
  color: #1c3b55;
  position: relative;

}

.form-box h1
{
  font-size: 30px;
  margin-top: 1px;
  margin-bottom: 5px;
  color: #1c3b55;
  position: relative;

}
.form-box h1::after
{
  content: "";
  width:30px;
  height:  4px;
  border-radius: 3px;
  background: #1c3b55;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.form-box3
{
  width: 700px;
  height: 300px;
  background-position: center center;
  position: absolute;
  margin: 20% 30%;
  text-align: center;
  border-radius: 20px;
  backdrop-filter: blur(50px);

}

.form-box3 h3{
  margin-bottom: ;
  text-align: center;
  color: #02233B;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 200;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-box3 p
{
  font-size: 18px;
  color: #02233B;
}
.input-field
{
  background: transparent;
  margin: 15px 0;
  border-radius: 6px;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;

}
.input-field input
{
width: 100%
}

input
{
width: 100%;
background: transparent;
border: 0;
outline: 0;
padding: 18px 15px;
}
.input-field i
{
margin-left: 15px;

}
form p
{
  text-align: left;
  font-size: 13px;
}
form p a
{
  text-decoration: none;
  color: #1c3b55;
}
.buttons
{
  background: #E2EBF3;
  font-size: 15px;
    border-radius: 5px;
    width: 15%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

.buttons
{
  width: 75%;
  height: 45px;
  background: #1c3b55;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.login-register
{
  font-size: .9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register a
{
  color: #1c3b55;
  text-decoration: none;
  font-weight: 600;
}
.login-register a:hover
{
text-decoration: underline;
}
main.table
{
  width: 82vw;
  height: 90vh;
 
  background-color: #fff5;
  backdrop-filter: blur(50px);
  box-shadow: 0  .4rem .8rem #fff5;
  border-radius: .8rem;

overflow: hidden
}
.table_header
{
  width: 100%;
  height: 10%;
  background-color: #fff2;
  padding: .8rem 1rem;
}
.table_body
{
  width: 95%;
  max-height:calc(89%);
  background-color: #fff4;
  margin:  .8rem auto;
  border-radius: .6rem;
  overflow: auto;
}
table
{
  width: 100%;

}
table, th, td
{
  border-collapse: collapse;
  padding: 0.6em 1rem;
}

thead th{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff4;

}
tbody tr:nth-child(odd)
{
  background-color: #0000000b;

}
tbody text-replace:hover
{
  background-color: #fff2;
}

.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 20px;
  background-color: #fff8;
}
.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 80%;
	background: #1c3b55;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #1c3b55;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}
.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}
.search_wrap.search_wrap_3 .search_box .input{
	border-radius: 50px;
}
.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}
.CreateAccountButton
{
  width: 35%;
  height: 50px;
}
.input-group .CreateAccountButton
{

  background-color: #1f3140;
  border: 2px solid #1c3b55;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color:#fff;
  font-weight: 500;
  margin-top: .1%;
  margin-left: 10px;
  transition: .5s;
}
.input-group .CreateAccountButton:hover
{
  background:#fff;
  color: #1c3b55d4;
}
.LogOutButton
{

  width: 10%;
  height: 35px;
  background: #02233B;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}


.img-gallery
{
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,2fr));
 grid-gap: 30px;
}
.img-gallery img
{
  height: 300px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;

}
.img-gallery img:hover
{
transform: scale(0.8) rotate(-15deg);
border-radius: 10px;
box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}